{% extends 'base.html' %}

{% load staticfiles %}



{% block title %} Instrucciones {% endblock %}


{% block body_block %}

    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <p>Instrucciones en el siguiente video:</p>
            <iframe width="820" height="515"
                    src="https://www.youtube.com/embed/4yGMfZFOBF4?autoplay=1"
                    frameborder="0" allowfullscreen>
            </iframe>
            <br><br><br>
            <div class="form-group">
                <div class="col-sm-1 col-sm-offset-1">
                    <!-- <a class="btn btn-white" href="">Cancel</a> -->

                    <!-- cambiar esta linea si es nescesario-->
                    <a class="btn btn-info" href="{% url 'encuestas:index' 41 %}"><i class="fa fa-paste"></i> ¡Estoy listo!</a>
                </div>




    </div>



        </div>

    </div>





{% endblock %}


{% block body_files %}



{% endblock %}