<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form method="post" class="form-horizontal">
            {% csrf_token %}

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <br><br>
                    <!-- <a class="btn btn-white" href="">Cancel</a> -->
                    <button class="btn btn-primary" type="submit">Ejecutar analisys</button>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Colera</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered detail-gamexdad">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Media</strong>
                                </td>
                                <td>
                                    {{ coleram }}

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Desviación estandar</strong>
                                </td>
                                <td>
                                    {{ coleras }}

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Fatiga</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered detail-gamexdad">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Media</strong>
                                </td>
                                <td>
                                    {{ fatigam }}

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Desviación estandar</strong>
                                </td>
                                <td>
                                    {{ fatigas }}

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Vigor</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered detail-gamexdad">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Media</strong>
                                </td>
                                <td>
                                    {{ vigorm }}

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Desviación estandar</strong>
                                </td>
                                <td>
                                    {{ vigors }}

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Amistad</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered detail-gamexdad">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Media</strong>
                                </td>
                                <td>
                                    {{ amistadm }}

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Desviación estandar</strong>
                                </td>
                                <td>
                                    {{ amistads }}

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tension</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered detail-gamexdad">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Media</strong>
                                </td>
                                <td>
                                    {{ tensionm }}

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Desviación estandar</strong>
                                </td>
                                <td>
                                    {{ tensions }}

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Depresion</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered detail-gamexdad">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Media</strong>
                                </td>
                                <td>
                                    {{ depresionm }}

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Desviación estandar</strong>
                                </td>
                                <td>
                                    {{ depresions }}

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </form>
    </div>
</div>


