<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form method="post" class="form-horizontal">
            {% csrf_token %}

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <br><br>
                    <!-- <a class="btn btn-white" href="">Cancel</a> -->
                    <button class="btn btn-primary" type="submit">Ejecutar analisys</button>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Colera</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered detail-gamexdad">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Media</strong>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Varianza</strong>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Desviación estandar</strong>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Status</strong>
                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </form>
    </div>
</div>


